In [49]:
import numpy as np
import pandas as pd

In [50]:
# Specify the delimiter CSV file (',' for comma-delimited)
delimiter = ','
# Load the CSV file into a Pandas DataFrame
df = pd.read_csv("./data.csv", delimiter=delimiter)
original_df = df
# Display the first few rows of the DataFrame
df.head()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
3,3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"

In [51]:
df.shape

(251079, 15)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251079 entries, 0 to 251078
Data columns (total 15 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                251079 non-null  int64
 1   brand                     251079 non-null  object
 2   model                     251079 non-null  object
 3   color                     250913 non-null  object
 4   registration_date         251075 non-null  object
 5   year                      251079 non-null  object
 6   price_in_euro             251079 non-null  object
 7   power_kw                  250945 non-null  object
 8   power_ps                  250950 non-null  object
 9   transmission_type         251079 non-null  object
 10  fuel_type                 251079 non-null  object
 11  fuel_consumption_l_100km  224206 non-null  object
 12  fuel_consumption_g_km     251079 non-null  object
 13  mileage_in_km             250927 non-null  float64
 14  offer_description         251078 non-null  object
dtypes: float64(1), int64(1), object(13)
memory usage: 28.7+ MB

In [53]:
# Know the Existing Columns
columns = list(df.columns)
columns

['Unnamed: 0',
 'brand',
 'model',
 'color',
 'registration_date',
 'year',
 'price_in_euro',
 'power_kw',
 'power_ps',
 'transmission_type',
 'fuel_type',
 'fuel_consumption_l_100km',
 'fuel_consumption_g_km',
 'mileage_in_km',
 'offer_description']

In [54]:
# Data Types for our columns
print(df.dtypes)

Unnamed: 0                    int64
brand                        object
model                        object
color                        object
registration_date            object
year                         object
price_in_euro                object
power_kw                     object
power_ps                     object
transmission_type            object
fuel_type                    object
fuel_consumption_l_100km     object
fuel_consumption_g_km        object
mileage_in_km               float64
offer_description            object
dtype: object

In [55]:
df.isnull().sum()

Unnamed: 0                      0
brand                           0
model                           0
color                         166
registration_date               4
year                            0
price_in_euro                   0
power_kw                      134
power_ps                      129
transmission_type               0
fuel_type                       0
fuel_consumption_l_100km    26873
fuel_consumption_g_km           0
mileage_in_km                 152
offer_description               1
dtype: int64

In [56]:
nan_df = df[df.isna().any(axis=1)]
display(nan_df.head())

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
1,1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
18,18,alfa-romeo,Alfa Romeo GTV,red,03/1997,1997,9980,148,201,Manual,Petrol,NaN,- (g/km),168791.0,2.0 V6 TB - Leder - 2.Hand
22,22,alfa-romeo,Alfa Romeo Spider,black,07/1997,1997,10500,141,192,Manual,Petrol,NaN,- (g/km),194000.0,"3,0 V6 12V"
27,27,alfa-romeo,Alfa Romeo,black,09/1997,1997,99900,152,207,Manual,Petrol,NaN,- (g/km),72260.0,RZ Zagato Spider | NR.172 | SAMMLER | IL MOSTRO

In [57]:
df.describe()

          Unnamed: 0  mileage_in_km
count  251079.000000   2.509270e+05
mean   125539.000000   8.534002e+04
std     72480.408456   7.871706e+04
min         0.000000   0.000000e+00
25%     62769.500000   2.490400e+04
50%    125539.000000   6.750000e+04
75%    188308.500000   1.265000e+05
max    251078.000000   3.800000e+06

In [58]:
df.head()

,Unnamed: 0,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,"10,9 l/100 km",260 g/km,160500.0,2.0 V6 TB
1,1,alfa-romeo,Alfa Romeo 164,black,02/1995,1995,24900,191,260,Manual,Petrol,NaN,- (g/km),190000.0,"Q4 Allrad, 3.2L GTA"
2,2,alfa-romeo,Alfa Romeo Spider,black,02/1995,1995,5900,110,150,Unknown,Petrol,NaN,- (g/km),129000.0,ALFA ROME 916
3,3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,"9,5 l/100 km",225 g/km,189500.0,2.0 16V Twin Spark L
4,4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,"7,2 l/100 km",- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"

Data Cleaning

In [59]:
#Remove Duplicates
# Use the duplicated() method to check for duplicates
duplicates = df[df.duplicated()]
# Print the duplicate rows
print(duplicates)

Empty DataFrame
Columns: [Unnamed: 0, brand, model, color, registration_date, year, price_in_euro, power_kw, power_ps, transmission_type, fuel_type, fuel_consumption_l_100km, fuel_consumption_g_km, mileage_in_km, offer_description]
Index: []

In [60]:
print('Shape before cleaning', df.shape , '\n')
ind = df.columns[0]
for i in df.columns:
    print('{} column has {} missing values. Data type is {}'.format(i, df[i].isna().sum(), df[i].dtype))
print('')
missing_df = pd.DataFrame(df[df['fuel_consumption_l_100km'].isna()]['fuel_type'].value_counts())
missing_df.columns = ["Missing Count"]
missingCounts = df[df['fuel_consumption_l_100km'].isna()]['fuel_type'].value_counts()
totalCounts = df['fuel_type'].value_counts()
missing_df["Percent Missing"] = [round(missingCounts[i] / totalCounts[i], 2) for i in missing_df.index]

df['fuel_consumption_l_100km'] = df.apply(
        lambda row: float(0) if pd.isnull(row['fuel_consumption_l_100km']) & \
        ((row['fuel_type'] == 'Electric')  or \
         (row['fuel_type'] == 'Hydrogen')  or \
         (row['fuel_type'] == 'Ethanol')) else row['fuel_consumption_l_100km'],
    axis = 1
)

df = df[df['fuel_type'] != 'Unknown']
df = df[df['fuel_type'] != 'Other']
df = df.drop(columns = ind)
df = df.dropna()


missingCounts = df[df['fuel_consumption_l_100km'].isna()]['fuel_type'].value_counts()
totalCounts = df['fuel_type'].value_counts()
missing_df["Percent Missing After"] = [round(missingCounts[i] / totalCounts[i], 2) if i in missingCounts.index else 0 for i in missing_df.index] 
print(missing_df, '\n')


print('Shape after cleaning',df.shape)

Shape before cleaning (251079, 15)

Unnamed: 0 column has 0 missing values. Data type is int64
brand column has 0 missing values. Data type is object
model column has 0 missing values. Data type is object
color column has 166 missing values. Data type is object
registration_date column has 4 missing values. Data type is object
year column has 0 missing values. Data type is object
price_in_euro column has 0 missing values. Data type is object
power_kw column has 134 missing values. Data type is object
power_ps column has 129 missing values. Data type is object
transmission_type column has 0 missing values. Data type is object
fuel_type column has 0 missing values. Data type is object
fuel_consumption_l_100km column has 26873 missing values. Data type is object
fuel_consumption_g_km column has 0 missing values. Data type is object
mileage_in_km column has 152 missing values. Data type is float64
offer_description column has 1 missing values. Data type is object

               Missing Count  Percent Missing  Percent Missing After
fuel_type
Petrol                 11104             0.08                      0
Diesel                  7425             0.09                      0
Electric                5496             0.92                      0
Hybrid                  2257             0.18                      0
LPG                      185             0.15                      0
Diesel Hybrid             99             0.21                      0
CNG                       94             0.19                      0
Other                     91             0.51                      0
Unknown                   73             0.76                      0
Hydrogen                  44             0.54                      0
Ethanol                    5             0.50                      0

Shape after cleaning (229240, 14)

In [61]:
print('Values in the year column before filtering:')
print(df['year'].unique(), '\n')

Values in the year column before filtering:
['1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004'
 '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'
 '2015' '2016' '2017' '2018' '2019' '2020' '2021' '2022' '2023' 'Petrol'
 'Diesel' 'Manual' '04/2006' 'LPG' 'Hybrid' '03/2015' '39.900 km'
 '18.990 km' '05/2021' 'Automatic' '11/2013' 'CNG']

In [62]:
yearsToFilter = list(df['year'].unique()[:29])
filt = []

for i in range(df.shape[0]):
    filt.append(df['year'].iloc[i] in yearsToFilter)

df = df[filt]
print('Values after filtering:')
print(df['year'].unique())

Values after filtering:
['1995' '1996' '1997' '1998' '1999' '2000' '2001' '2002' '2003' '2004'
 '2005' '2006' '2007' '2008' '2009' '2010' '2011' '2012' '2013' '2014'
 '2015' '2016' '2017' '2018' '2019' '2020' '2021' '2022' '2023']

In [63]:
# Extracting the Range from 'fuel_consumption_g_km' for Electric Cars
def extract_range(row):
    if 'Reichweite' in str(row['fuel_consumption_g_km']) and row['fuel_type'] == 'Electric':
        return float(str(row['fuel_consumption_g_km']).split()[0])
    return row['fuel_consumption_l_100km']

df['fuel_consumption_l_100km'] = df.apply(extract_range, axis=1)

In [64]:
# Converting 'fuel_consumption_l_100km' to Numeric Format
def convert_to_numeric(row):
    if 'kWh/100 km' in str(row['fuel_consumption_l_100km']):
        numeric_part = str(row['fuel_consumption_l_100km']).split()[0].replace(',', '.')
        return float(numeric_part)
    return row['fuel_consumption_l_100km']

df['fuel_consumption_l_100km'] = df.apply(convert_to_numeric, axis=1)

In [65]:
# Marking Rows for Removal
def mark_for_removal(row):
    if row['fuel_type'] == 'Electric' and (type(row['fuel_consumption_l_100km']) != float or row['fuel_consumption_l_100km'] == 0):
        return 'To Drop'
    return row['fuel_consumption_l_100km']

df['fuel_consumption_l_100km'] = df.apply(mark_for_removal, axis=1)

# Removing Rows
df = df[df['fuel_consumption_l_100km'] != 'To Drop']

In [66]:
df[df['fuel_type'] == 'Electric'].head()

,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
16552,audi,Audi e-tron,beige,09/2019,2019,51888,300,408,Automatic,Electric,359.0,359 km Reichweite,84800.0,55 Advanced Quattro S-Line Interieur
16559,audi,Audi e-tron,beige,07/2019,2019,53990,300,408,Automatic,Electric,359.0,359 km Reichweite,51000.0,55 quattro advanced Pano B&O AHK Matrix
16579,audi,Audi e-tron,blue,02/2019,2019,32930,300,408,Automatic,Electric,359.0,359 km Reichweite,84300.0,55 qu. S line AHK LED V-Cockp. RüKa Pano
16589,audi,Audi e-tron,blue,09/2019,2019,44940,300,408,Automatic,Electric,359.0,359 km Reichweite,55900.0,55 advanced S line Matrix HuD Pano B&O 360° Lu...
16591,audi,Audi e-tron,blue,10/2019,2019,52446,300,408,Automatic,Electric,359.0,359 km Reichweite,17950.0,"advanced 55 Navi,LED,B&O,Leder,Kamera"

In [67]:
# Remove unwanted characters and convert to float
df['fuel_consumption_l_100km'] = df['fuel_consumption_l_100km'].str.replace(',', '', regex=True)
df['fuel_consumption_l_100km'] = df['fuel_consumption_l_100km'].str.extract(r'([\d.]+)').astype(float)

# Filter rows where the column is of type float
df = df[df['fuel_consumption_l_100km'].notnull()]
df.head()

,brand,model,color,registration_date,year,price_in_euro,power_kw,power_ps,transmission_type,fuel_type,fuel_consumption_l_100km,fuel_consumption_g_km,mileage_in_km,offer_description
0,alfa-romeo,Alfa Romeo GTV,red,10/1995,1995,1300,148,201,Manual,Petrol,109.0,260 g/km,160500.0,2.0 V6 TB
3,alfa-romeo,Alfa Romeo Spider,black,07/1995,1995,4900,110,150,Manual,Petrol,95.0,225 g/km,189500.0,2.0 16V Twin Spark L
4,alfa-romeo,Alfa Romeo 164,red,11/1996,1996,17950,132,179,Manual,Petrol,72.0,- (g/km),96127.0,"3.0i Super V6, absoluter Topzustand !"
5,alfa-romeo,Alfa Romeo Spider,red,04/1996,1996,7900,110,150,Manual,Petrol,95.0,225 g/km,47307.0,2.0 16V Twin Spark
6,alfa-romeo,Alfa Romeo 145,red,12/1996,1996,3500,110,150,Manual,Petrol,88.0,210 g/km,230000.0,Quadrifoglio

In [71]:
# Convert columns to appropriate data types
df['price_in_euro'] = df['price_in_euro'].astype(int)
df['power_kw'] = df['power_kw'].astype(int)
df['fuel_consumption_l_100km'] = df['fuel_consumption_l_100km'].astype(float)

In [72]:
# Check for missing values and data types
for column in df.columns:
    missing_count = df[column].isna().sum()
    data_type = df[column].dtype
    print('{} column has {} missing values. Data type is {}'.format(column, missing_count, data_type))
print('')

brand column has 0 missing values. Data type is object
model column has 0 missing values. Data type is object
color column has 0 missing values. Data type is object
registration_date column has 0 missing values. Data type is object
year column has 0 missing values. Data type is object
price_in_euro column has 0 missing values. Data type is int64
power_kw column has 0 missing values. Data type is int64
power_ps column has 0 missing values. Data type is object
transmission_type column has 0 missing values. Data type is object
fuel_type column has 0 missing values. Data type is object
fuel_consumption_l_100km column has 0 missing values. Data type is float64
fuel_consumption_g_km column has 0 missing values. Data type is object
mileage_in_km column has 0 missing values. Data type is float64
offer_description column has 0 missing values. Data type is object

In [69]:
# Calculate the percentage of each brand's count compared to the original data
newCounts = df['brand'].value_counts()
oriCounts = original_df['brand'].value_counts()
percents = pd.Series(newCounts)
for brand in df['brand'].value_counts().index:
    percents[brand] = str(round((newCounts[brand]/oriCounts[brand])*100, 2)) + '%'

counts_df = pd.DataFrame(percents)
counts_df.columns = ['Percent Remaining']
counts_df['Original Count'] = oriCounts.values
counts_df['New Count'] = newCounts.values
counts_df = counts_df.sort_values(by = 'Original Count', ascending = False)
counts_df[:10]

/var/folders/tz/36qz0vtn4rb0h9dh9ghf_dpr0000gp/T/ipykernel_1362/3717091013.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '90.81%' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  percents[brand] = str(round((newCounts[brand]/oriCounts[brand])*100, 2)) + '%'

              Percent Remaining  Original Count  New Count
brand
volkswagen               90.81%           33281      30222
mercedes-benz             90.0%           27226      24504
audi                     91.98%           21161      19463
opel                     89.85%           20388      18319
bmw                      89.71%           19810      17772
ford                     89.11%           18790      16744
skoda                    90.55%           14039      12712
seat                     91.71%           11949      10958
toyota                   89.71%            8694       7381
renault                  82.14%            8228       7141

After cleaning the data, a good percentage of our data points seem to have been lost, about 15% of the most common brands, which means we didn't lose a significant amount of data, which is good compared to our data size

In [70]:
df.to_csv('Cleaned_data.csv')